#game-screen {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(../assets/arcade_bckgrnd_startscreen.png);

  overflow: hidden;
}

#game-area {
  position: relative;

  width: min(80vw, calc(80vh * 19.5 / 9));
  aspect-ratio: 19.5 / 9;

  overflow: hidden;
  box-sizing: border-box;

  border: 0.25cqw solid var(--secondary);
  border-radius: 0.8cqw;

  box-shadow:
    0 0 3cqw var(--secondary),
    0 0 5cqw var(--secondary-glow);
}

/* BACKGROUND SCROLL */

#background-layer {
  position: absolute;
  inset: 0;
  width: 200%;
  height: 100%;

  background-size: 50% 100%;
  background-repeat: repeat-x;
  background-position: left center;

  pointer-events: none;
  z-index: 0;

  animation: background-scroll var(--background-scroll-speed) linear infinite;
}

#background-layer.paused {
  animation-play-state: paused;
}



@keyframes background-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%)
  }
}

/* GROUND SCROLL */

.neon-arcade #ground::before {
  content: "";
  position: absolute;

  left: 0;
  top: 0;

  width: 200%;
  height: 100%;

  background-size: auto 100%;
  background-repeat: repeat-x;

  animation: ground-scroll 0.54s linear infinite;
  animation-play-state: running;
}

.neon-arcade #ground.paused::before {
  animation-play-state: paused;
}

@keyframes ground-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-8.2%);
  }
}

#ground {
  width: 100%;
  position: absolute;
  bottom: 0;
}

#ground-shadow {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 3;

  box-shadow:
    inset 10cqw 0 8cqw -4cqw rgba(0, 0, 0, 0.8),
    inset -10cqw 0 8cqw -4cqw rgba(0, 0, 0, 0.8),
    inset 0 -5cqw 6cqw -2.5cqw rgba(0, 0, 0, 0.7);
}

/* PAUSE BUTTON */

#pause-button {
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 2;

  width: 5%;
  height: 10%;

  background: grey;

  border: 2px solid var(--primary);
  border-radius: 10px;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;

  box-shadow: 0 0 0.5cqw var(--primary),
    0 0 1.2cqw var(--primary);

  text-shadow: 0 0 0.5cqw #ffffff,
    0 0 1cqw var(--primary);

  cursor: pointer;
}