#pause-menu {
  position: absolute;

  width: 85%;
  height: 85%;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  background: rgba(0, 0, 0, 0.75);

  border: 0.1vw solid rgba(255, 255, 255, 0.7);
  border-radius: 3%;

  z-index: 100;
}


/* LEVEL PROGRESS */

#level-name {
  position: absolute;

  top: 2%;
  left: 50%;

  transform: translateX(-50%);

  color: white;
  font-size: 2vw;
  white-space: nowrap;
  font-weight: bold;
}


#level-progress {
  position: absolute;

  top: 20%;
  left: 50%;

  transform: translateX(-50%);

  width: 90%;

  display: flex;
  align-items: center;
  gap: 3%;

  color: white;
  font-size: 2vw;
  font-weight: bold;
}


#level-progress-bar {
  width: 100%;
  height: 3vw;

  border: 0.3vw solid white;
  border-radius: 999px;

  background: rgba(255, 255, 255, 0.15);

  overflow: hidden;
}


#level-progress-fill {
  height: 100%;

  background: white;

  transition: width 0.2s linear;
}


/* BUTTONS */

#pause-menu button {
  position: absolute;

  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  width: 40%;
  height: 40%;

  cursor: pointer;

  color: transparent;
  font-size: 0;
}

#pause-menu button:first-of-type {
  left: 50%;
  top: 62%;

  transform: translate(-50%, -50%);

  width: 50%;
  height: 50%;

  background-image: url("../assets/continue_button.png");
}

#pause-menu button:nth-of-type(2) {
  left: 25%;
  top: 62%;

  transform: translate(-50%, -50%);

  background-image: url("../assets/restar_button.png");
}

#pause-menu button:nth-of-type(3) {
  left: 75%;
  top: 62%;

  transform: translate(-50%, -50%);

  background-image: url("../assets/home_button.png");
}