#start-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/arcade_bckgrnd_startscreen.png);
}

#start-area {
  position: relative;
  width: min(70vw, calc(70vh * 19 / 9));
  aspect-ratio: 19.5 / 9;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  background-color: red;
}