#player {
  position: absolute;
  z-index: 5;
}

#player-visual {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;

  transition: transform 0.5s linear;
}


#player.crouching::after {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 0;
  width: 80%;
  height: 25%;

  pointer-events: none;
}

#slide-particles.landing span {
  animation: landing-particle 0.35s ease-out forwards;
}

@keyframes landing-particle {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-3cqw, -2cqw) scale(0);
    opacity: 0;
  }
}

#player-visual.dead {
  animation: player-death 0.1s ease-out forwards;
}

@keyframes player-death {
  0% {
    scale: 1;
    opacity: 1;
  }

  100% {
    scale: 0;
    opacity: 0;
  }
}
